LLM_MODEL=llama3.1:8b

SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_service_role_key

PINECONE_INDEX=hospital-faq
PINECONE_API_KEY=your_pinecone_api_key

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key
LANGCHAIN_PROJECT=healthcare-voice-agent
